.board-list {
  table {
    @media (max-width: 500px) {
      th:nth-child(2), th:nth-child(3), td:nth-child(3), td:nth-child(4) {
        display: none;
      }
    }
  }
}

.float-e-margins .btn {
  margin-bottom: 0;
}

#sharedBoardAddModal {
  border-bottom: 1px solid #e5e5e5;
  margin-left: -30px;
  margin-right: -30px;
  >div {
    >div {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

#sharedBoardMVModal {
  margin-right: -30px;
  margin-bottom: -30px;
  height: 310px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.preview-small {
  position: relative;
}

.preview-large {
  position: absolute;
  z-index: 1100;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #28a745;
  >img {
    border-radius: 10px;
  }
}
