.share-btn {
  margin-bottom: 0;
}
#authorize_form {
  height: 100%;
  background-color: #ffffff;
  .login-content {
    max-width: 280px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
  }
  .login-footer {
    position: absolute;
    text-align: center;
    font-size: 10px;
    width: 100%;
    bottom: 15px;
    padding: 0px 10px;
    @media (max-width: 500px) {
      .footer-inline {
        display: block !important;
        padding-top: 5px;
      }
    }
    a {
      color: #827878;
      padding-right: 20px;
    }
    .footer-inline {
      display: inline
    }

  }
  .ibox-content {
    background-color: transparent;
  }
  .btn-gg-login {
    width: 100%;
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #ccced0;
    color: #93989c;
    position: relative;
    margin-bottom: 16px;
    text-align: left;
    &:hover {
      background-color: #ecebeb;
    }
    >.img-login {
      position: absolute;
      left: 8px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    >.txt-login {
      margin-left: 40px;
      font-size: 13px;
    }
  }
  .btn-o365-login {
    width: 100%;
    height: 36px;
    background-color: #dd4b39;
    color: #ffffff;
    position: relative;
    margin-bottom: 16px;
    text-align: left;
    &:hover {
      background-color: #cc311e;
    }
    >.img-login {
      position: absolute;
      left: 1px;
      img {
        width: 33px;
        height: 20px;
      }
    }
    >.txt-login {
      margin-left: 40px;
      font-size: 13px;
    }
  }
  .btn-fb-login {
    width: 100%;
    height: 36px;
    background-color: #3b5998;
    color: #ffffff;
    position: relative;
    text-align: left;
    &:hover {
      background-color: #2a467f;
    }
    >.img-login {
      position: absolute;
      left: 8px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    >.txt-login {
      margin-left: 40px;
      font-size: 13px;
    }
  }

}
