#Chrome {
  margin-top: 15px
}

#color-palette {
  width: 260px;
  /* SCROLLBAR */
  /* Let's get this party started */
  ::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 4px solid transparent;
    background-clip: content-box; // this is important
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1c84c6;
  }
}

#scroll {
  height: 150px;
  overflow-y: auto;
}
